<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @document.id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @document.title %>
</p>

<p>
  <strong>Fulltext:</strong>
  <%= @document.fulltext %>
</p>

<p>
  <strong>Date:</strong>
  <%= @document.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @document.location %>
</p>

<%= link_to 'Back', documents_path %>
